/* Write your custom CSS here */
body{
	background-color: #fff !important;
}
.header-title span {
    margin: 7px 0;
    display: block;
}
.user-profile{
	float: right;
}
.user-profile img{
	width: 50px;
	margin-top: 6px;
}
ul.menu-header-network li:first-child{
	float: left;
}
ul.menu-header-network li{
	float: right;
    cursor: pointer;
}
ul.menu-header-network >li > ul {
    position: absolute;
    left: -99999px;
    display:none;
 }

ul.menu-header-network > li:hover > ul {
     
  display: block;
  position: relative;
  left: 0;
  background-color: #757575;
}
ul.menu-header-network > li:hover > ul > li{
    display: block;
    float: none;
    clear: both;
    cursor: pointer;
}

ul.menu-header-network li i{
    float: left;
    margin: -2px 3px;
}
ul.menu-header-network li a i{
	float: left;
    margin: -2px 3px;
}
    
ul.menu-header-network li.active{
    background: #6b6b6b;
}
ul.menu-header-network li a, ul.menu-header-network li{
	letter-spacing: 1px;
}
ul.menu-header-network li:hover{
    background: #6b6b6b;
}
.well{
	padding: 50px;
	background: #ddd;
	border-radius: 10px;
}
.form-custom input{
	border: 1px solid #9e9e9e;
    border-radius: 5px;
    padding: 0 10px;
}
.form-custom .input-field.col label{
    font-size: 12px;
}
.form-custom .input-field.col label.active{
	left: 0;
}
form.form-custom input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime]:disabled, input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"]{
	border-bottom: 1px solid #9e9e9e;
	background-color: #ddd;
}
form.form-custom input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	margin-top: 10px;
	border:1px solid #9e9e9e;
}
textarea.materialize-textarea{
	padding: 10px 10px 50px;
	border-radius: 5px;
}
input.login-form{
	padding: 0 10px;
    max-width: 287px;
}
.file-field input.file-path {
    width: 100%;
    border: none;
    border-bottom: 1px solid #9e9e9e;
}
ul.nav-icon-action li{
	display: inline-block;
	margin:0 0 10px;
}
ul.nav-icon-action-emp li{
    float: left;
    margin:0 0 10px;
}
.dataTables_filter input[type="search"]{
	padding-left: 10px;
}
ul.nav-icon-action li a{
	color: #9e9e9e;
}
ul.collection, ul.collection li.collection-item{
	float: left;
	width: 100%;
    background-color: #f1f1f1;
}
input.rounded{
    padding: 0 10px;
    border-radius: 8px;
}

.total_leave{
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    padding: 3px 17px;
}
.ui-widget-content {
    border: 1px solid #ddd;
    background: #ddd;
    color: #1f1f1f;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #F8F7F6 url('images/ui-bg_fine-grain_10_f8f7f6_60x60.png') 50% 50% repeat;
}

/* begin: jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #743620 none;
    color: white;
}
/* end: jQuery UI Datepicker emphasis on selected dates */


/* begin: jQuery UI Datepicker hide datepicker helper */
#ui-datepicker-div {display:none;}
/* end: jQuery UI Datepicker hide datepicker helper */
/*.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #585043 none;
    color: white;
    border:none;
}
.ui-widget-header {
    border: 1px solid #5d5a57;
    background: #585043;
    color: #ffffff;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
   color: #585043;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #fbd850;
    background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #585043;
}*/
.trigger-status{
    position: absolute;
    left: 60%;
    top: 20%;
    z-index: 99;
}
#divStatus.filterS{
    display: block;
    position: absolute;
    left: 57%;
    top: 20%;
    background: rgb(255, 255, 255);
    padding: 0px 10px;
    z-index: 99;
    min-width: 15%;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(232, 232, 232, 0.75);
    -moz-box-shadow:    0px 2px 11px 0px rgba(232, 232, 232, 0.75);
    box-shadow:         0px 2px 11px 0px rgba(232, 232, 232, 0.75);
}
.closeTrigger{
    position: absolute;
    right: -10px;
    background: #ddd;
    padding: 0;
    text-align: center;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: -10px;
    color: #777;
}
.cl_name{
	float: left;
	width: 200px;
}
.cl_name:after{
	content: ':';
	margin-right: 10px;
	float: right;
}
.cl_value{
	float: left;
	margin-left: 10px;
    max-width: 500px;
}
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: #eee !important;
}
.btn.btn-block{
	width: 100%;
}
.dropdown-content {
    top: 60px !important;
}
.badge-status{
	position: relative;
}
.badge-status .badge{
	position: relative;
	right: 0;
	font-size: 0.8rem;
	color: #fff;
	padding: 5px;
}
#navAjax li{
	display: inline-block;
	margin-right: 5px;
}
#navAjax li a{
	
    border: 1px solid #a7a7a7;
    color: #a7a7a7;
    padding: 10px;
}
#navAjax li a.current{
	 background: #a7a7a7;
	 color: #fff; 
}
.editableform .form-control {
    width: auto;
    padding-left: 10px;
    max-width: 150px;
    height: auto;
    min-height: 30px;
    margin: 0;
}
.editableform span.combodate .form-control {
    width: auto;
    padding-left: 10px;
    max-width: 150px;
    height: auto;
    min-height: auto;
    margin: 0;
}
.btn.editable-submit, .btn.editable-cancel{
    padding: 15px 8px;
    font-size: 10px;
    height: 0;
    line-height: 0;
}
.mb-20{
	margin-bottom: 20px;
}
.sweet-alert {
    box-sizing : border-box;
    max-height : 100% !important;
    overflow-y : auto !important;
    padding : 0 17px 17px !important;
    width : 512px;
}
.sweet-alert:before {
    content : "";
    display : block;
    height : 17px;
    width : 0;
}
.content-drop{
	display: none;
    position: absolute;
    right: 10px;
    background: #757575;
    top: 59px;   
    margin: 0;
    min-width: 150px;
    max-height: 650px;
    overflow-y: auto;
    z-index: 999;
    will-change: width, height;
}
.content-drop li{
	clear: both;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    padding:10px;
}

.content-drop li.divider {
    min-height: 0;
    height: 1px;
    padding: 0;
    margin: 0;
}
table.media-body tr td a{
	color: inherit;
}
@media (min-width: 993px) {
	.container{
		width: 90%;
	}
	.mn-content.fixed-sidebar .mn-inner {
	    padding-left: 135px;
	    width: 100%;
	    padding-right: 135px;
	    height: 85vh;
	}
}


.editableform .control-group {
    margin-bottom: 0;
    white-space: nowrap;
    line-height: 20px;
    min-width: 342px;
}


.form-inline .form-control {
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
table.table-border{
    border:1px solid #ddd;
}
table.table-border th{
    border:1px solid #ddd;
}
table.table-border td{
    border:1px solid #ddd;
}